.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ajout_depot {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.ajout_depot button {
    padding: 12px;
    background-color: rgb(38, 120, 212);
    width: 200px;
    height: 50px;
    color: white;
    align-items: center;
    border-radius: 12px;
    text-decoration: none;
    font-size: 15.5px;
    cursor: pointer;
}


.price_calculator {
    margin-top: 50px;
    text-align: center;
    border: 2px solid darkgrey; /* Adjusted border color */
    padding: 20px;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#priceForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service_prices {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#getPrice,.choice {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgb(38, 120, 212);
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
    margin: 0 10px;
    cursor: pointer;
}

#priceResult{
    display: none;
}

#priceResult h2{
  margin-top: -30px;
  margin-bottom: 5px;
}



#weightInput {
    border-radius: 12px;
    border: 3px solid darkgrey;
    width: 300px;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 18px;
}



#resetButton{
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgb(38, 120, 212);
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
    margin: 0 10px;
    cursor: pointer;
}